body {
    margin: 0;

  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'BMI BMI standaard standaard';
    
  }
  
  header {
    grid-area: header;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }

  main
  {
    display: flex;
  }

  /* BMI*/
  .BMI {
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 1px solid #333;

    height: 40vh;
    width: 50vw;
  }
  
  .alleKleuren {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
  }
  
  .groen,
  .geel,
  .oranje,
  .rood,
  .kleur {
    width: 50px;
    height: 50px;
  }
  
  .groen {
    background-color: green;
  }
  
  .geel {
    background-color: yellow;
  }
  
  .oranje {
    background-color: orange;
  }
  
  .rood {
    background-color: red;
  }
  
  .animate {
    display: flex;
    justify-content: center;
  }
  
  .animate .kleur {
    position: absolute; /* Absolute positioning */
    height: 50px;
    transition: width 3s ease-in-out, background-color 3s ease-in-out;
  }
  
  .animate .groen.animate {
    background-color: green;
    width: 200px;
  }
  
  .animate .geel.animate {
    background-color: yellow;
    width: 200px;
  }
  
  .animate .oranje.animate {
    background-color: orange;
    width: 200px;
  }
  
  .animate .rood.animate {
    background-color: red;
    width: 200px;
  }

@keyframes kleuren
{
    0%
    {
        transform: translateX(0px);
        width: 50px;
    }
    25%
    {
        transform: translateX(0px);
        width: 100px;
    }
    50%
    {
        transform: translateX(0px);
        width: 150px;
    }
    75%
    {
        transform: translateX(0px);
        width: 200px;
    }
}

/* standaard gegevens*/

.standaard
{
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    height: 40vh;
    width: 50vw;
}

.onderste2 {
    display: flex;
    justify-content: space-between; /* Om de divs aan de uiteinden van de container te plaatsen */
}

.toegevoegd
{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    height: 40vh;
    width: 50vw;
    align-items: center;
}

.toegevoegd button
{
    width: 100px;
    height: 30px;
}

table
{
    border-collapse: collapse;
    width: 100%;
}
th
{
    border: 1px solid #333;
    padding: 10px;
}

td
{
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px;
}


.overschot
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    height: 40vh;
    width: 50vw;
}

#leeftijdT, #gewichtT, #lengteT, #bmiT, #categorieT
{
    display: none;
}

