body {
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  main {
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #333;
    height: 50vh;
    width: 50vw;
  }
  
  .alleKleuren {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
  }
  
  .groen,
  .geel,
  .oranje,
  .rood,
  .kleur {
    width: 50px;
    height: 50px;
  }
  
  .groen {
    background-color: green;
  }
  
  .geel {
    background-color: yellow;
  }
  
  .oranje {
    background-color: orange;
  }
  
  .rood {
    background-color: red;
  }
  
  .animate {
    display: flex;
    justify-content: center;
  }
  
  .animate .kleur {
    position: absolute; /* Absolute positioning */
    height: 50px;
    transition: width 3s ease-in-out, background-color 3s ease-in-out;
  }
  
  .animate .groen.animate {
    background-color: green;
    width: 200px;
  }
  
  .animate .geel.animate {
    background-color: yellow;
    width: 200px;
  }
  
  .animate .oranje.animate {
    background-color: orange;
    width: 200px;
  }
  
  .animate .rood.animate {
    background-color: red;
    width: 200px;
  }

@keyframes kleuren
{
    0%
    {
        transform: translateX(0px);
        width: 50px;
    }
    25%
    {
        transform: translateX(0px);
        width: 100px;
    }
    50%
    {
        transform: translateX(0px);
        width: 150px;
    }
    75%
    {
        transform: translateX(0px);
        width: 200px;
    }
}